*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
    font-family: 'Roboto', sans-serif;
}




/* layout one */
/* NavBar */
.navbar-nav li a{
  font-size: 16px;
}
.navbar-brand{
  letter-spacing: 2px;
}
/* Card */
.card{
  transition: all 0.5s ease;
}
.card:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
/* Service */
.service img {
  transition: all 0.5s ease;
}
.service img:hover {
  transform: scale(1.1);
}